@CHARSET "UTF-8";

#featured h1 {
    margin-top: 10px;
    margin-left: 20px;
}
#page {
    clear: both;
}

li.ecp1_list_item {
    font-size: 18px;
    font-weight: 300;
    font-family: open sans condensed, arial narrow, sans-serif;
    margin: 0 0 10px 5px;
}

li.ecp1_list_item a {
    font-weight: 300;
}