@CHARSET "UTF-8";


#bbrc-container{
	border: solid 2px #e4dbc8;
	background-color:#f9f4e9;
	padding: 10px;
	width:97%;
	margin:auto 0px;
}
.bbrc-member-container {
	margin:5px;
	background-color:#efe8d8;
	height:158px;
	width:276px;
	text-align:left;
	float:left;
	border: 3px solid #c9c2af;
    padding: 5px;
}

.bbrc-picture-container {
    float: left;
    width: 100px;
    height: 145px;
    background-color: #FFF;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding: 5px;
}
.bbrc-no-picture {
	background-color:#BCBDC0;
}

#bbrc-container h1 span{
	margin-right: 3px;
}

.bbrc-text-container{
	float:left;
    width: 156px;
    overflow: hidden;
    padding: 5px 0 5px 10px;
}
.bbrc-username { 
	font-family: 'Open Sans Condensed', 'Arial Narrow', sans-serif;
	font-weight:bold;
	font-size: 1em; 
	color: #17458F;
	text-shadow: 1px 1px #FFF;
	font-weight: bold;
	text-transform: uppercase;
}
.bbrc-position { 
    font-family: 'Open Sans Condensed', 'Arial Narrow', sans-serif;
    font-size: 18px;
    color: #919295;
    margin-top: 5px;
    line-height: 19px;
    width: 100%;
    white-space: nowrap;
}
.bbrc-office {
	line-height:0.3em;
	margin-top:25px;
    color: #58585A;
}
p.bbrc-office-label {
    font-family: Arial Narrow, sans-serif;
    font-size: 13px;
	text-transform: uppercase;
}
p.bbrc-office-phone {
    font-family: Arial, sans-serif;
    font-size: 15px;
}
