html .mceContentBody {
	max-width: 640px;
}
* {
	color: #58585F;
	
}

code, code var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
body, input, textarea {
	color: #58585F;
  	font-family: Georgia,Times,"Times New Roman",serif;
  	font-size: 16px;
}
a:active, a:hover {
    text-decoration: underline; none
}
a:visited {
    color: #1a7089; #17458f
    text-decoration: none;
}
a:link {
    color: #1a7089; #17458f
    text-decoration: none;
}
a {
    color: #0f7289; #17458f
    font-weight: bold;
    text-decoration: none;
}
hr {
  background: #EFEFEF;
  border: none;
  color: #EFEFEF;
  clear: both;
  height: 2px;
  margin: 10px 0 10px 0;
}
/* Text elements */
p, li {
	line-height: 1.4em;
}

ul,
ol {
	margin: 0 0 18px 1.5em;
	padding: 0;
}

ul {
	list-style: outside disc;;
}
ol {
	list-style: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	border: none;
	font-style: italic;
}

blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}

sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
a:link {
	color: #1a7089;
  text-decoration: none;
}
a:visited {
  color: #1a7089;
  text-decoration: none;
}
a:active,
a:hover {
	text-decoration: underline;
}
p,
ul,
ol,
dd,
pre,
hr {
	margin-bottom: 15px;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
pre,
kbd,
tt,
var {
	font-size: 15px;
	line-height: 21px;
}
code {
	font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  	font-family: 'Open Sans Condensed', 'Open Sans', Helvetica, sans-serif;
  	line-height: 1.1em;
  	margin-top:10px;
/*	display:inline-block; */
}
h1, .SectionHeader {
  clear: both;
  color: #0f7289;
  font-family: 'Open Sans Condensed', 'Open Sans', Helvetica, sans-serif;
  font-size: 20px;
  height: 30px;
  margin-bottom: 5px;


}
h1 {
	color: #17458f;
	font-family: 'Open Sans Condensed', 'Open Sans', Helvetica, sans-serif;
	font-size: 38px;
	font-weight: 300;
	margin-bottom: 24px;
	margin-top: 48px;
	padding:0;
	text-transform: uppercase;
}
h2  {
	color: #17458f;
	font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top:24px;
	padding:0;
}
h3 {
	color: #555;
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 4px;
	margin-top: 20px;
	padding:0;
	text-transform: uppercase;

}
h4 {
	color: #555;
	font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 10px;
	padding:0;
	text-transform: uppercase;
}
h5 {
	color: #555;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 0;
	margin-top:16px;
	padding:0;
	text-transform: uppercase;
}
h6 {
	color: #555
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 10px;
	margin-bottom: 10px;
	padding:0;
	text-transform: uppercase;
}
table {
	border: 1px solid #EFEFEF !important;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
tr th,
thead th {
	border: none !important;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
tr td {
	border: none !important;
	border-top: 1px solid #EFEFEF !important;
	padding: 6px 24px;
}
img {
	margin: 0;
}
img.size-auto,
img.size-large,
img.size-full,
img.size-medium {
	max-width: 100%;
	height: auto;
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background-color: #fff;
	border:1px solid #ff9933;
  line-height: 18px;
  margin-bottom: 20px;
  max-width: 632px !important;
  /* prevent too-wide images from breaking layout */
  padding: 0;
  text-align: center;
}
.wp-caption img {
	margin: 5px;
	max-width:98%;
}
.wp-caption p.wp-caption-text {
	margin: 0 0 4px;
	font-style:italic;
}
.wp-smiley {
	margin: 0;
}
ol li {
    list-style: decimal outside;
    margin-left: 20px;
    padding-left: 5px;
	text-indent:0;
}
ul li {
    list-style: square outside;
    margin-left: 20px;
    padding-left: 5px;
	text-indent:0;
}