@CHARSET "UTF-8";

/******************************************************
*  SPEAKER PROGRAM
******************************************************/

	table {
		font-family: Georgia, Times New Roman, Serif;
		color: #58585A;
		font-size: 17px;
		line-height:25px;
		width:800px;
		margin:100px auto;
	}
	table td {
		cursor: auto;
		vertical-align:top;
	}
	table td p {
		margin-top:10px;
	}
	.firstcol {width:50%}
	.secondcol {width:100px;}
	.thirdcol {width:30%}
	.single table #speakerheader {border:none}
	
	table .greyborder-right {border-right: solid 2px #ececec;padding-right:10px;}
	table .greyborder-left {border-left: solid 2px #ececec;padding-left:25px;}
	table .greyborder-top {border-top: solid 2px #ececec;}
	table .greyborder-bottom {border-bottom: solid 2px #ececec;}
	table .goldborder-bottom {border-bottom: solid 1px #F2A700;}
	.speaker-term-label {font-weight:bold;}
	table #blogheader h1 {
	    color: #17458f;
    	font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    	font-size: 36px;
    	font-weight: 300;
		text-transform: uppercase;
	    margin-bottom: 4px;
	    margin-top: 24px;
	    padding: 0;
	}
	table #speakertitle h2{
	    background: url(../images/speaker-icon.png) 0 9px no-repeat;
	    color: #58585A;
	    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
	    font-size: 24px;
	    font-weight: bold;
	    margin-bottom: 0;
	    margin-top: -20px;
	    text-indent: 40px;    
	    line-height: 50px;
    	margin-left: 20px;
    	text-transform: uppercase;
	}
	table .speakerdate {
	    color: #17458f;
	    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
	    font-size: 19px;
	    font-weight: bold;
	    position: absolute;
	    right: 30px;
	    text-transform: uppercase;
	    top: 20px;
	}
	table .speakerdate span {
    	color: #58585A;
	}
	table #speaker-side-container {
	    background-color: #f8f1e3;
	    padding: 10px 10px 0 10px;
	}
	table #speaker-side-container h3 {
	    color: #17458f;
	    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
	    font-size: 24px;
	    margin: 0 0 2px 5px;
	    padding-top: 15px;
	    text-indent: 10px;
	    text-transform: uppercase;
    	font-weight: 700;
	}