/* Every Calendar +1 Client Styling */
#ecp1_calendar, #ecp1_calendar_list, #ecp1_event, li.ecp1_event {margin-bottom:1em;}
#ecp1_calendar .fc table, #ecp1_calendar_list .fc table {border-bottom:none;margin-bottom:0;}
#ecp1_calendar .fc-header td, #ecp1_calendar .fc-header th, #ecp1_calendar_list .fc-header td, #ecp1_calendar_list .fc-header th {border-top:none;}
#ecp1_calendar .feeds, #ecp1_calendar_list .feeds {float:right;}
#ecp1_calendar ol, #ecp1_calendar_list ol {margin:0;padding:0;}
ul.ecp1_event-details {margin:0;}
ul.ecp1_event-details li {list-style-type:none;}
span.ecp1_event-title {vertical-align:top;width:90px;display:inline-block;}
span.ecp1_event-text {vertical-align:top;display:inline-block;}
span.ecp1_event-text_wide {vertical-align:top;display:block;padding-left:0.5em;}
span#ecp1_feature, span.ecp1_feature {float:right;margin:0 0 10px 10px;}
li.ecp1_event {list-style-type:none;border-bottom:2px solid #cccccc;padding-bottom:1em;}

/* The WP3.5 theme introduces rounded corners for content images
   this messes with the tiling for the maps on event pages */
#ecp1_event_map img {max-width:inherit;box-shadow:none;border-radius:0px;}

/* Full Calendar Modifications */
.fc-event {cursor:pointer;}

/* Popups for Full Calendar */
div.ecp1-popup {
	font-size: 12px;
	line-height: 1.2em;
	background-color: #fff;
	color: #666;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	width:350px; /* these match to numbers in js/popup.js for map container width/height */
	min-height:115px; /* if you change here change there also see ecp1-map-container below */
	padding:8px;
	border:2px solid #999;
	padding:1em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-opera-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:8px;
	box-shadow:rgba(0,0,0,0.5) 10px 10px 24px; border-radius:12px;
	position:absolute;
	display:none;
	z-index:999;
	cursor:auto;
	overflow:hidden;
}
div.ecp1-popup-show {display:block;}
div.ecp1-popup div.ptab {position:relative;top:0;left:0;visibility:visible;/*float:left;*/}
div.ecp1-popup div.ptabhide {left:-1000px;/*display:none;*/}
div.ecp1-popup div.pfloater {float:left;}
div.ecp1-popup span.clear {clear:both;}
div.ecp1-popup a {color:#1982D1;}
div.ecp1-popup a:hover {text-decoration:underline;}
div.ecp1-popup span.mlblock {display:inline-block;}
div.ecp1-popup ul.nodeco {padding:0;margin:0;}
div.ecp1-popup ul.hasimg {width:195px;}
div.ecp1-popup ul.hasimg span.mlblock {width:175px;}
div.ecp1-popup ul.nodeco li {list-style-type:none;padding:0;margin:0 0 2px;}
div.ecp1-popup ul.nodeco li span.h {display:inline-block;vertical-align:top;padding-right:5px;}
div.ecp1-popup div.ecp1-map-container {min-width:345px;min-height:100px;z-index:4000;} /* these match js/popup.js */
div.ecp1-popup div.ecp1-map-linker {min-width:345px;} /* these match js/popup.js */
#_ecp1-large-map, #_ecp1-feed-popup {
	position:absolute;top:0;left:0;display:none;text-align:center;
	background:rgba(0,0,0,0.7); /* some cross browser opacity niceness */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000, endColorstr=#B3000000);
}
#_ecp1-large-map div.inner, #_ecp1-feed-popup div.inner {background:#FFFFFF;color:#000000;} /* don't inherit opacity */
#_ecp1-feed-popup li {list-style-type:none;}
#_ecp1-feed-popup li span {display:inline-block;width:150px;font-weight:bold;text-align:right;margin-right:1em;}
#_ecp1-feed-popup li a {display:inline-block;}
