/* Every Calendar +1 Admin Styling */
.wrap dl {margin:0;}
.wrap dl dd {font-style:italic;margin-left:10px;}
.wrap input.ecp1_url {width:40%;}
.wrap input.ecp1_w75 {width:72%;}
.wrap input.ecp1_w100 {width:95%;}
.wrap textarea.ecp1_sml {width:70%;height:25px;}
.wrap textarea.ecp1_med {width:70%;height:50px;}
.wrap textarea.ecp1_big {width:70%;height:100px;}
.wrap div.postarea td {padding:0;margin-bottom:0;}
.wrap div.postarea td.autosave-info {padding:2px 15px 2px 2px;}
.wrap #editorcontainer td.mceIframeContainer {background-color:#ffffff;}
.wrap #editorcontainer #ecp1_description {width:100%;}
.wrap select.ecp1_select {width:30%;}
.wrap select#ecp1_timezone option, .wrap select#ecp1_timezone optgroup {padding:0.1em}
.wrap select#ecp1_timezone optgroup option {padding:0.1em 1.8em;}
span.ecp1_checkbox_block {display:inline-block;width:30%;}
span.ecp1_floater_r {display:inline-block;width:40%;float:right;}
.wrap table.form-table td, .wrap table.form-table th {vertical-align:top;clear:both;}
.wrap table.form-table th label {padding-top:5px;display:inline-block;}
.wrap #ecp1_featured {margin-right:10px;}
.wrap #ecp1-event-map {width:600px;height:300px;}
.wrap div.mapmeta ul li span {display:inline-block;padding-left:50px;}
span#ecp1_marker_preview {padding:0 5px;display:inline-block;vertical-align:top;}
.wrap a.ecp1_ex_rm {display:inline-block;vertical-align:top;padding-top:5px;color:#FF0000;cursor:pointer;}
.wrap div.ecp1_ex_container {margin-bottom:10px;padding-bottom:10px;border-bottom:2px solid #666666;}
div.color_selector {display:inline-block;vertical-align:top;padding-top:5px;padding-right:1.5em;}
div.color_selector > span {vertical-align:top;}
div.color_selector > div {display:inline-block;position:relative;width:36px;height:36px;background:url(../colorpicker/images/select.png);}
div.color_selector > div > div {position:absolute;top:3px;left:3px;width:30px;height:30px;background:url(../colorpicker/images/select.png) center;}
span.ecp1_ical_q {display:inline-block;width:100px;}
.wrap .ecp1submeta {padding-bottom:1em;}
.ecp1subsettings strong {display:block;margin-top:10px;cursor:pointer;}
.ecp1subsettings div:first-child strong {margin-top:0;}
.ecp1subsettings textarea {width:80%;}
.ecp1subsettings .expandtarget {display:none;border:2px dotted #cccccc;padding:10px;}
.ecp1_exrow_summary label{vertical-align:top;}
#ecp1_repeat_exceptions_existing > li, #new_exceptions_container > div {padding-bottom:1em;border-bottom:1px solid #ccc;margin-bottom:1em;}
#ecp1_repeat_exceptions_existing > li:last-child, #new_exceptions_container > div:last-child {border-bottom:none;}
td.xlabels label { padding-left: 1em; }
td.xlabels label:first-child { padding-left: 0; }
span.strike { text-decoration: line-through; }
.ecp1_admin_form_list {list-item:none;}
.ecp1_admin_form_list li {margin:0; padding:0;}
