$experimental-support-for-svg: true;
@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/typography/links";
@import "compass/utilities";
@import "compass/css3/user-interface";
$backgrounds-spacing:20px;
@import "backgrounds/*.png";
$logo-font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
$body-font-family:Georgia,Times,"Times New Roman",serif;
$menu-font-family:"Open Sans Condensed", Arial, Helvetica, sans-serif;
$header-font:"Open Sans Condensed", Arial, Helvetica, sans-serif;
$sub-header-font:"Open Sans Condensed", Arial, Helvetica, sans-serif;
$emphasis-font:"Open Sans Condensed", Arial, Helvetica, sans-serif;
$rotary-button-font: "Open sans condensed", "Arial Narrow", sans-serif;
$button-font:"BebasNeueRegular", Arial, sans-serif;
$meta-font:Georgia,Times,"Times New Roman",serif;
$body-text-color:#58585A;
$aside-text-color:#808080;
$main-menu-color: #ffffff;
$main-menu-hover-bg:#000000;
$sub-menu-bg:#00246c;
$sub-menu-hover-bg:#000000;
$main-menu-hover-border:#000000;
$footer-bg:#303746; 
$header-font-color:#17458f;
$subheader-font-color:#58585A;
$address-font-color:#58585A;
$logo-color:#f2a91d;
$slide-bg-color:#17458f;
$control-bar-bg:#36424c;
$section-header-color:#685b4d;
$section-header-first-color:#f9f0db;
$link-color:#17458F;
$hover-link-color:#005daa; 
$speaker-border:#ff9933;
$speaker-shadow:#E5E5EE;
$speaker-bg:#F6ECD5;
$speaker-th-border:#f4cd77;
$table-row-rollover-bg:#f1a600;
$link-arrow-color:#8abec6;
$project-link-arrow-color:#af741c;
$project-comment-border-color:#dcd4bf;
$header-font-weight: 700;
$gold-bg-color:#f2a700;
$gold-bg-hover-color:#ffbc00;
$blue-bg-hover-color:#005daa;
$med-gray-color:#58585A;
$light-gray-color:#808080;
$gold-button-bg-color:#F7A81B;
$gold-button-bg-hover-color:#FCB533;
$gold-button-text-color:#005daa;
$gold-button-text-hover-color: #0077DA;
$blue-button-bg-color:#005daa;
$blue-button-bg-hover-color: #0077DA;
$white-button-bg-hover-color:#E7E7E8;
$white-button-text-hover-color:#0077DA;
$white-button-text-color:#005daa;