$experimental-support-for-svg: true;
@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/typography/links";
@import "compass/utilities";
$backgrounds-spacing:20px;
@import "backgrounds/*.png";
$body-font-family:"Lucida Grande", "Lucida Sans Unicode", sans-serif;
$menu-font-family:Arial, Helvetica, sans-serif;
$header-font:SommetHeavy, sans-serif; 
$sub-header-font:Sommet; 
$emphasis-font:SommetBlack;
$button-font:"BebasNeueRegular", Arial, sans-serif;
$meta-font:Arial, Helvetica, sans-serif;
$body-text-color:#606060;
$aside-text-color:#808080;
$main-menu-color: #e0e0e1;
$main-menu-hover-bg:#09455b;
$sub-menu-bg:#013e53;
$sub-menu-hover-bg:#002e40;
$main-menu-hover-border:#0c3446;
$footer-bg:#303746; 
$header-font-color:#0f7289;
$subheader-font-color:#606060;
$address-font-color:#90bec9;
$logo-color:#f2a91d;
$slide-bg-color:#065e77;
$control-bar-bg:#36424c;
$section-header-color:#685b4d;
$section-header-first-color:#f9f0db;
$link-color:#0f7289;
$hover-link-color:#F2A700; 