.pagecommitteetitle {
	font-family: $body-font-family;
	font-size:12px;
	margin-left:30px;
	text-transform: uppercase;
}
.page-template-archive-rotary_projects-php #content .connectedprojectscontainer  {
  margin-bottom: 40px;
  margin-right: 0;
  width: 280px;
}
.single-rotary_projects .projectcommitteetitle {
	background: #eca900 url(../images/projectcommitteetitle-bg.jpg) no-repeat;
	color: #fff;
	font-size:22px;
	height: 72px;	
	margin-top:30px;
	position: relative;
	text-indent: 70px;
	text-transform: uppercase;
	h2 {
		@include text-shadow(rgba(black, 0.27) 1px 1px 2px);
		font-family: $button-font;
		line-height:72px;
	}
	a {
		color: #197b8f;
		font-weight:400;
		&:active, &:hover {
			color: #197b8f;
		}
	}
	.newcommitteepost, .newcomment {
		@include button($color:#FFF, $background:none, $border: #bc8700, $height:30px, $border-radius:0);
		@include box-shadow(rgba(188, 135, 0, 0.8) 0 0 5px inset);
		background-color:#d49800;
		font-size:15px;
		line-height:30px;		
		margin-left:0;
		position:absolute;
		top:20px;
		right:200px;
		text-indent:0;
		width:180px;
		&.second {
			right:6px;
		}
		&:active, &:hover {
			color: #FFF;
		}
	}
	
}
.announcedby {
	display:inline-block;
	margin-left:10px !important;
	max-width:50%;
	padding-top:0;
}
.morecommentcontainer {
	clear:both;
}
.morecomments, .lesscomments {
	margin-left:115px;
}
.morecomments::after {
	content: '\25BC';
}
.lesscomments::after {
	content: '\25B2';
}


.projects .wp-post-image {
	clear: both;
	display: block;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	width:783px;
}
.committeeblogrollcontainer {
	margin-bottom:40px;
}
.single.single-rotary-committees #content .commentcommittetext h2 {
	border:none;
	margin-bottom:0;
	margin-left:25px;
}
.imgoingtext, .locationtext, .participanttext {
  background-color:#f3f3f3;
  border: 2px solid #d8dadb;
  font-size: 10px;
  font-weight: bold;
  left:-25px;
  line-height: normal;
  padding: 10px 5px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -40px;
 
  &:after {	    
	  border: solid transparent; 
	  border-color: rgba(216, 218, 243, 0); 
	  border-top-color: #d8dadb; 
	  border-width: 10px;
	  content: " "; 
	  height: 0;
	  left: 50%;
	  margin-left: -10px;
	  pointer-events: none;
	  position: absolute;
	  top: 100%;
	  width: 0;   }
}
.imgoingtext {
	top:-65px;
}
.locationtext {
	left:60px;
}
.participanttext {
	left:100px;
}	
#projects-sidebar {
 	.imgoingtext{
		left:-20px;
	}
}

.projecticons {
	border-bottom:1px solid #efefef;
	border-top:1px solid #efefef;
	height:50px;
	margin-bottom:25px;
	position:relative;
	span, a {	
		cursor:pointer;	   
		display:inline-block;
		height:50px;
		width:50px;
				
	}
	.icon {
		@include hide-text;
	}
	.count {
		vertical-align: middle;
		width:10px;
	}
	.imgoing {
		background:url(../images/check-icon.png) 10px 13px no-repeat;
		&.going {
			background-position: 10px -50px;
		}
		&.notgoing {
			background-position: 10px -110px;
		}
	}
	.location {
		background:url(../images/project-location-icon.png) 0 8px no-repeat;
	}
	.participants {
		background:url(../images/participant-icon.png) 0 10px no-repeat;
	}
}
.single.single-rotary_projects #content {
	.sectioncontainer {
		width:375px !important;
	}
	header .postdate {
		text-transform: capitalize;
	}
}
.single-rotary_projects {
	.morecomments, .lesscomments {
		margin-left:10px;
	}
	.comment.hasthumbnail {
		float:right;
		margin-right:5px;
		margin-top: -40px;
		position: relative;
		width: 670px;
		z-index: 100;
		.commentcommittetext {
			width:669px;
		}
		.commentbottom {
			background: url(../images/project-comment-bottom-small-bg.png) no-repeat;
			width:677px;
		}
	}

	.commentcommittetext {
		background:#fff;
		border-left:3px solid #e6decd;
		border-right:3px solid #e6decd;
		border-top:3px solid #e6decd;
		width:778px
	}
	 .comment .commentbottom {
	   background: url(../images/project-comment-bottom-bg.png) no-repeat;
   }
   #content > p {
	   margin-left:25px;
   }
   #content .committeecomment p {
	   margin-left:10px !important;
   }
   .committeecommentdetail {
	   clear:left;
   }
   .announcedby {
	   float:left;
	   margin-top: -2px;
   }
   .committee-comment-date {
	   border:none;
	   margin-left:20px;
	   margin-top:0;
	   padding-top:0;
	   .month, .day, .year {
		   color:#6b6b6b;
		   font-family: $menu-font-family;
		   font-size:12px;
		   position:static;
	   }
   }
 
}

.committeecontent {
		clear:left;
		min-height:50px;
		position:relative; 
		.hascontent {
			.post-edit-link {
				margin-left:0;
				position:absolute;
				top:6px;
				right:6px;

			}
		}
		.post-edit-link {
				@include button($color:#FFF, $height:30px, $background:linear-gradient(#034679, #0f7185), $border-radius:0);
				font-size:15px;
				line-height:30px;
				margin-left:20px;
				width:60px;
				span {
					color:$link-arrow-color;
				}
				&:active, &:hover {
					color:#fff;
				}
		}
		&.project {
				clear:both;
			.post-edit-link{
				@include background-image(linear-gradient(#f3c55b, #f3c55b));
				span {
						color:$project-link-arrow-color;
				}
			}
		}
		.committee {
			margin-bottom: 40px;
			margin-left:20px;
			
		}
			 
		h2 {
			border:none !important;
			padding-top:0;
		}
				
	}

.committeeheadercontainer {
		@include box-shadow(rgba(0, 0, 0, 0.25) 0 0 7px inset);
		background-color: #FAFAFA;
		border: 1px solid #B5B5B5;
		height:160px;
		margin-bottom:20px;
		position:relative;
		&.hascontent {
			height:auto;
			.newpost {
				margin-left:0;
				position:absolute;
				top:6px;
				right:138px;
				&.second {
					right:6px;
				}
			}
			
		}
		.addcontent {
			margin-left:25px;
			margin:30px 0 15px 25px;
		}
		
		.newpost {
			@include button($color:#FFF, $height:30px, $background:linear-gradient(#034679, #0f7185), $border-radius:0);
				font-size:15px;
				line-height:30px;	
				margin-left:25px;
				width:120px;			
				span {
					color:$link-arrow-color;
				}
				
				&:active, &:hover {
					color:#fff;
				}

		}
		&.project .newpost {
			@include background-image(linear-gradient(#f3c55b, #f3c55b));
			span {
				color:$project-link-arrow-color;
			}
		}	
	}
#content .committeeheader {
		@include text-shadow(rgba(black, 0.27) 1px 1px 2px);
		background:url(../images/committee-header-bg.png) no-repeat;
		color:#FFF;
		font-family: $emphasis-font;
		font-size:20px;
		line-height: 48px;
		margin:0;
		height:48px;
		text-indent:30px;
		text-transform: uppercase;
		width:200px;
		
	}
	.committeeblogrollcontainer {
		margin-bottom:40px;
	}
.projectblogrollcontainer {
	margin-left:8px;
	padding-bottom: 40px;
}
.post-type-archive #content .connectedprojectscontainer {
	margin-bottom:40px;
	margin-right:0;
	width:280px;
	}
#content .connectedprojects {
		background-color:#FAFAFA;
		color:#898989;
		@include box-shadow(rgba(0, 0, 0, 0.25) 0 0 7px inset);
		margin-bottom:50px;
		padding:25px 0 25px 55px;
		width:732px;
}	
#content .connectedprojectscontainer {
	@include box-shadow(#bfbfbf 0 5px 5px 0);
	@include background-image(linear-gradient(#FFF, #F1F1F1));
	background-color:#fff;
	border:1px solid #efefef;
	float:left;
	margin-right:25px;
	padding:15px 20px;
	position: relative;
	width:291px;
		.wp-post-image {
			height:auto;
			margin-bottom:20px;
			width:270px
		}
		.projecttitle {
			border:0 !important;
			font-family:$emphasis-font;
			font-size:17px;			
			a {
				font-weight:400;	
			}
		}
		.projectcontent {
			margin-left:10px;
		}
		.rotary_project_date {
			background:url(../images/committee-calendar-icon.png) no-repeat;
			margin-bottom:25px;
			span {
				display:inline-block;
				margin-left:45px;
			}
			.fulldate {
				
			}
			.day {
				font-family: $button-font;
				font-size: 20px;
				text-transform: uppercase;
			}
			.fulldate {
				font-family:$sub-header-font;
				font-size:19px;
			}
		}
		.projectheader {
			background: url(../images/project-header-bg.jpg) no-repeat;
			height:76px;
			h3 {
				@include text-shadow(rgba(black, 0.27) 1px 1px 2px);
				background: url(../images/project-icon.png) 5px 20px no-repeat;
				color:#FFF;
				font-size:14px;
				padding-top:20px;
				text-indent:45px;
				text-transform: uppercase;
				span {
					margin-left: 45px;
				}
			}
		}
		.alignleft {
			margin-left:20px;
		}
		.committee-comment-date {
			margin:5px 15px 0 0;
		}

}
.committee-comment-date {
		border-bottom: 1px solid #8f8f8f;
		border-top: 1px solid #8f8f8f;
		color:$aside-text-color;
		float:left;
		font-family:$sub-header-font;
		font-size:14px;
		font-weight:400;
		margin:16px 0 0 15px;
		padding-top:15px;
		position:relative;
		width:90px;
		.day {
			color:#8f8f8f;
			font-family: $button-font;
			font-size:40px;
			
		}
		.month{
			color:#187084;
			font-size:14px;
			position:absolute;
			text-transform:uppercase;
		}
	}
.no-cssgradients .connectedprojects{
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d9dee1', endColorstr='#ffffff'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d9dee1', endColorstr='#ffffff')"; /* IE8 */  
}
.no-cssgradients .projectheader{
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#a0957f', endColorstr='#544636'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#a0957f', endColorstr='#544636')"; /* IE8 */  
}
.single-rotary-committees, .single-rotary_projects {
	.hascontent .newcomment {
		float:right;
		margin-left:0;
		margin-right:0;
		margin-top:-35px;
		
	}
	.committeecommentdetail {
		max-width:60%;
	}
	.newcomment {
		@include button($color:#FFF, $height:30px, $background:linear-gradient(#034679, #0f7185), $display:inline-block, $line-height:30px, $border-radius:0);	
		font-size:14px;
		margin-left:25px;
		margin-right:60px;
		margin-top: 0;
		width:120px;
		span {
			color:$link-arrow-color;
		}
		&:active, &:hover {
			color:#FFF;
		}
	}
	#content .commentcommittetext h2 {
		border:none;
		margin-left:20px;
		padding-bottom:0;
	}
}
.single-rotary-committees .committeecommentdetail{
	padding-top:5px;
}
.single-rotary_projects .newcomment{
	@include background-image(linear-gradient(#f3c55b, #f3c55b));
	span {
		color:$project-link-arrow-color;
	}
}
.single-rotary-committees .hascontent .newcomment, .single-rotary_projects .hascontent .newcomment {
	float:right;
	margin-left:0;
}
.single-rotary_projects .hascontent .newcomment {
	margin-top:-60px;
}	
.no-cssgradients .single-rotary-committees .newcomment, .no-cssgradients committeeheadercontainer .newpost{
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#034679', endColorstr='#0f7185'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#034679', endColorstr='#0f7185')"; /* IE8 */  
}
.no-cssgradients .single-rotary_projects .newcomment, .no-cssgradients committeeheadercontainer .newpost.project{
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f3c55b', endColorstr='#f3c55b'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f3c55b', endColorstr='#f3c55b')"; /* IE8 */  
}
