@font-face {
	font-family: 'icomoon';
	src:url('iconfonts/icomoon.eot');
	src:url('iconfonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('iconfonts/icomoon.svg#icomoon') format('svg'),
		url('iconfonts/icomoon.woff') format('woff'),
		url('iconfonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#controls #facebookshare {
	color:#1B76B1;
	display: inline-block; /* Fix for clickability issue in WebKit */
}
#controls #twittershare {
	color:#44c0c6;
	display: inline-block; /* Fix for clickability issue in WebKit */
}
#mainmenu .homepage a {
	color:$main-menu-color;
	display: inline-block; /* Fix for clickability issue in WebKit */
}
[data-icon]:before {
 font-family: icomoon;; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}
#controls [data-icon]:before {
	font-size:24px;
}
#mainmenu .homepage [data-icon]:before {
	font-size:13px;
}
#footer  .homepage [data-icon]:before {
	display:none;
}
/*display text instead of icon in footer*/
#footer .screen-reader-text {
	position:static;
}