.rotarymembershipcontainer {
	@include box-shadow(#efefef 3px 3px 5px 0);
	width:98%;
}
.single-rotary_projects .rotarymembershipcontainer {
	clear:left;
	margin-bottom:20px;
}
.page #content .rotarymembershipheader, .single-rotary_projects #content .rotarymembershipheader{
	background:url(../images/member-table-section-header.png) no-repeat;
	padding: 0 20px 20px 0;
	> h2 {
		border-bottom:none;
		border-top:none;
		color:#58585F;
		font-family:$header-font;
		font-size: 22px;
		font-weight:700;
		height: 50px;
		line-height:50px;
		padding-top: 5px;
		text-indent:20px;
		text-transform: uppercase;
	}
}
span.wpcf7-not-valid-tip {
    color: #F00;
    font-size: 1.05em;
    display: block;
    font-family: $header-font;
    font-weight: bold;
}


div.wpcf7-validation-errors {
    border: none;
    background-color: #F00;
    color: #FFF;
    font-weight: 700;
    font-family: $header-font;
    padding: 15px;
    font-size: 1.2em;
    text-align: center;
    width: 730px;
    margin-top: 20px;
}

.single-rotary_projects #content {
	.rotarymembershipheader{
		background:url(../images/project-member-table-section-header.png) no-repeat;
	}
	.rotarymembershipheader {
		padding-bottom:40px;
		> h2 {
		 	background: url(../images/participant-bg.jpg) 12px 12px no-repeat;
		 	margin-bottom:0;
		 	text-indent:65px;
		}
	}
	.rotaryselections, #rotaryprojects_wrapper {
		border-left:1px solid #efefef;
	}
}

.single-rotary_projects #rotaryprojects_filter {
	display:none;
}
.rotarymembernotloggedin {
	clear:both;
}
#rotarymembers_wrapper {
	margin-left:20px;
}
#rotarymembers_filter {
	clear:right;
	float:right;
}
.rotaryselections {
	padding-bottom:20px;
	.committeecontainer{
		float:right;
	}
	.sendemail {
		clear:both;
		float:left;
		margin-bottom:15px;
		margin-top:15px;
	}
	.usercontainer {
		float:right;
		position:relative;
		top:-50px;
		select{
			height:30px;
		}

	}
	#committeelabel {
		margin-right:5px;
	}

}
.single-rotary_projects .rotaryselections .sendemail {
	margin-bottom:15px;
	margin-left:15px;
	margin-top:-15px;
}


.rotarymembershipheader #rotarymembers tr td, .rotarymembershipheader #rotaryprojects tr td{
	border-bottom:1px solid #b3b5b7;
	border-right: 1px dotted #b3b5b7;
	padding-bottom:15px;
	padding-top:15px;
}
.rotarymembershipheader #rotarymembers tr th, .rotarymembershipheader #rotaryprojects tr th{
	border-top:2px solid #f2e6cc;
	border-right: 1px dotted #b3b5b7;
	color:$body-text-color;
	font-family: $header-font;
	font-size:19px;
	font-weight:700;
	padding-bottom:15px;
	padding-left:6px;
	padding-top:15px;
	text-transform:uppercase;
}
.rotarymembershipheader #rotarymembers tr .groupemail, .rotarymembershipheader #rotaryprojects tr .delete {
	border-right:none;
}
.rotarymembershipheader #rotaryprojects tr .delete {
	text-align:center;
}	
#rotarymembers .odd td, #rotaryprojects .odd td {
	background: #f9f4e9;
	
}
.wpcf7-form {
	margin-bottom:80px;
}
#content #rotaryemailsubmit {
	margin-top:10px;
}
#rotarymembers .email a, #rotaryprojects .email a{
	color:#b3b5b7;
	text-transform:uppercase;
}
.rotaryemaildialog {
	width:786px;
	input[type="text"], input[type="email"]{
		height:40px;
	}
	input[type="text"], input[type="email"], textarea {
		border-left:0;
		border: 1px solid #efefef;
		color:$med-gray-color;
		font-family:$body-font-family;
		font-size:18px;
		padding-left:150px;
		width:570px;
	}
	.rotaryemailmessage {
		padding: 40px 10px 10px 15px;
		width: 693px;
	}
	label {
		background-color: #f9f3e6;
		border: solid #E5DCC8 1px;
		clear:left;
		color:$med-gray-color;
		display:block;
		font-size:19px;
		font-family:$header-font;
		font-weight: 700;
		left: -12px;
		padding: 10px 5px 8px 16px;
		position: relative;
		text-transform: uppercase;
		top: 15px;
		width:120px;
		z-index: 10;
		&:after {
			content: "";
			background: url( ../images/brown-swish.png ) 0 0 no-repeat;
			position:absolute;
			bottom:-13px;
			left:0; 
			width:10px;
			height:13px;
		}	
	}
	p {
		margin-top: -40px;
		padding: 0 !important;
	}
	
}
.rotaryemail-sectionheader {
	background:#E7E7E8 url(../images/contact-form-header.png) no-repeat;
	background: url(../images/contact-form-header.png) no-repeat;
}
.rotaryemail-sectioncontent {
	 
    background-color: #fafafa;
	border-left: 1px #EBEBEB solid;
    border-right: 1px #EBEBEB solid;
    border-bottom: 1px #EBEBEB solid;
    display: inline-block;
    margin-top: 66px;
    padding: 34px 25px 55px 35px;
   
	p {
		margin-bottom: 0 !important;
	}
	span.wpcf7-form-control-wrap {
		top: -40px;
	}
}	
.rotarydialog {
	background-color:$hover-link-color !important;
	background-image: none !important;
	color:#f2e2c0;
	font-family:$body-font-family;
	font-size:13px !important; 
	z-index:200; 
}
#rotarymemberdialog h2, #rotarymemberdialog h3, #rotarymemberdialog h4, .rotarydialog .ui-dialog-titlebar-close  {
	color:#fff;
}
#rotarymemberdialog h4 {
	font-family:$body-font-family;
}
#rotarymemberdialog h2, #rotarymemberdialog h3 {
	font-family:$button-font;
	text-transform:uppercase;
}
#rotarymemberdialog .personalinfoarea h4 {
	line-height:18px;
	margin-top:5px;
}
#rotarymemberdialog h2 {
	font-size:30px !important;
	line-height:1.1em;
}
#rotarymemberdialog .dialogtop {
	border-bottom:none !important;
	padding:0 !important;
}
#rotarymemberdialog .namearea, #rotarymemberdialog .addressarea {
	height:92px !important;
}
#rotarymemberdialog .namearea {
	background:url(../images/image-icon.png) no-repeat;
	padding-top:20px;
}
#rotarymemberdialog .addressarea {
	background:url(../images/member-location-icon.png) no-repeat;
	font-size:17px;
	padding-top:20px;
}
#rotarymemberdialog .dialogmain {
	background-color:$blue-bg-hover-color;
	padding-top:20px;
}
#rotarymemberdialog .profilepicture img {
	@include box-shadow(#111 3px 3px 3px 0);
	background:#fff;
	height:auto;
	padding:5px;
	width:140px;
}
#rotarymemberdialog .profilepicturebottom {
	background: url(../images/profile-image-bg.png) 5px 100% no-repeat;
	height:11px;
	margin-bottom:15px;
	margin-top:-5px;
}
#rotarymemberdialog p {
	color: #F2E2C0;
}
#rotarymemberdialog p a {
	color:#f2e2c0;
	font-weight:normal;
}
#rotarymemberdialog .company h3 {
	background:url(../images/company-icon.png) no-repeat;
	text-indent: 25px;
}
#rotarymemberdialog .contact h3 {
	background:url(../images/contact-icon.png) no-repeat;
	text-indent: 25px;
}
#rotarymemberdialog .partner h3 {
	background:url(../images/partner-icon.png) no-repeat;
	text-indent: 25px;
}
#rotarymemberdialog .clubinfo h3 {
	background:url(../images/club-info-icon.png) no-repeat;
	text-indent: 25px;
}
#rotarymemberdialog .larger {
	margin-right:0;
	padding-right:20px;
}
#rotarymemberdialog .dialogbottom {
	border-top: 2px solid #fff;
	margin-left:30px;
	margin-right:30px;
	padding-top:15px;
}
#rotarymemberdialog .company, #rotarymemberdialog .contact {
	border-bottom-color:#fff;
}
.rotarydialog .ui-widget-header .ui-dialog-titlebar-close,
.rotaryemaildialog .ui-widget-header .ui-dialog-titlebar-close {
	border:0;
	background: url("../images/dialog-close.png") no-repeat scroll 0 10px transparent !important;
	cursor:pointer;
	display: block;
	height: 30px;
	margin-right:10px !important;
	text-indent: -9999px;
	width: 20px;
}
.rotaryemaildialog .ui-widget-header .ui-dialog-titlebar-close {
	background: url("../images/emaildialog-close.png") no-repeat scroll 0 10px transparent !important;
}
#rotarymemberdialog .dialogbottom .clubname {
	color:$gold-bg-color;
	font-size:14px;
}
#rotarymemberdialog .dialogbottom .rotaryclub {
	color:#fff;
	font-size:14px;
}