/* slideshow */
#slideshowcontainer {
	height:380px;
	margin:0 auto 0 auto;
	position:relative;
	width:100%;
}
#slideshow {
	background:$slide-bg-color;
	height: 313px; 
	left:0;
	overflow: hidden;
	position: relative;
	width:100%;
	img {
		/*left:433px;*/
		right:0;
		position:absolute;
		top:0;
	}
	.slideinfo {
		color:#FFF;
		height:100%;
		width:433px;
		h2 {
			border:none;
			color:#fff;
			font-family:$sub-header-font;
			font-size:34px;
			padding-top:40px;
			margin:0 40px 40px 40px;
		}
		p {
			color:#E1EDF0;
			margin:0 40px 10px 40px;
			line-height: 20px;
		}
	}
	.slide {
		height:100%;
		width:919px;
	}
	a {
		color:#fff;
		display:block;
		font-weight:bold;
		padding-top:10px;
		text-decoration:none;
		&:active, &:hover {
			color:#fff;
			text-decoration:underline;
		}
	}
}

#controls {
	background:url(../images/controls-bg.jpg) repeat-x 0 100%;
	font-family:$header-font;
	height:40px;
	left:0;
	line-height:40px;
	position:relative;
	top:-5px;
	width:100%;
	z-index:200;
		a {
		color:#E7E7E8;
		display:block;
		float:left;
		padding: 5px 5px 5px;
		text-decoration:none;
		text-transform: uppercase;
	}
	#navsection {
		a {
			width:19px;
			&.activeSlide, &:active, &:hover {
				background:url(../images/selected-slide-bg.png) no-repeat;
				color:#fff;
			}
		}
	}
	#shareshare {
		margin-left:40px;
	}
	#playpause {
		margin-left:423px;
		text-transform:uppercase;
	}
	a.play span.pause {
		display:none;
	}
	a.pause span.play {
		display:none;
	}
	#facebookshare {
		@include backgrounds-sprite("facebook-slideshow");
		height:14px;
		margin-left:14px;
		margin-top:14px;
		width:15px;
	}
	#twittershare {
		@include backgrounds-sprite("twitter-slideshow");
		height:14px;
		margin-left:14px;
		margin-top:14px;
		width:15px;
	}
}