#content  {
.home-upcoming-program-ribbon {
	background:url(../images/upcoming-ribbon.png)50% 0 no-repeat;
	height:61px;
	margin:0 auto;
		position:relative;
	text-align:center;
	top:23px;
	width:384px;
	h2 {
		color:#FFF;
		font-family: $header-font;
		font-size:34px;
		padding-top:10px;
		text-transform: uppercase;
	}
}
&.fullwidth .home-upcoming-programs {
	.home-upcoming-program-details {
		width:300px;
	}
	.home-upcoming-programs-speaker-date{
		text-align:right;
	}
	.newspeaker {
		margin-left:100px
	}	
}
.home-upcoming-programs {
	border: 8px solid $header-font-color;
	padding:20px;
	article {
		float:left;
		width:50%;
	}
	
	.speakername {
		background:url(../images/speaker-icon-small.png) 0 5px no-repeat;
		color:$med-gray-color;
		font-family: $header-font;
		font-size:24px;
		font-weight: 700;
		line-height:30px;
		margin-top:15px;
		text-indent:45px;
		text-transform:none;
	}
	.speaker-title, .speaker-company {
		color: $med-gray-color;
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 0;
	}
	.speaker-company {
		font-weight:bold;
	}
	.speaker-program-title {
		background: url(../images/speaker-home-title-bg.png) no-repeat scroll 0 100%;
		color:$header-font-color;
		font-family: $header-font;
		font-size:24px;
		font-weight: 700;
		line-height:27px;
		padding:20px 0 20px 0;
		text-transform:uppercase;
		width:260px;
		a {
			font-weight:700;
		}
	}
	.home-upcoming-program-details {
		float:left;
		width:265px;
	}
	.post_new_link {
		margin:100px auto;
	}
	.newspeaker {
		border: 7px dashed #CCC;
		border-radius: 5px;
		float:left;
		height:220px;
		text-align:center;
		width:240px;
	}

	
}
.home-upcoming-programs-speaker-date {
	border-bottom:1px solid #ececec;
	float:left;
	margin-right: 20px;
	position:relative;
	text-align: left;
	width:80px;
	span {
		display:block;
	}
	.dayweek, .month {
		font-size:17px;
		font-family:$sub-header-font;
		font-weight: 700;
		line-height:18px;
		text-transform:uppercase;
	}
	.dayweek {
		margin-bottom: 14px;
	}
	.day {
		color:#a6a8ab;
		display: inline-block;
		font-family: $button-font;
		font-size:53px;
		line-height:45px;
		padding-left: 5px;
	}
	.month {
		color:$header-font-color;
		font-weight: 700;
	}
}
}