/*search widget*/
.widget_search {
	.searchsubmit {
		display:none;
	}
	.searchsubmit2 {
		display:inline;
	}
	label {
		display:none;
	}
	#s {
		width:120px;
	}
}
/*Rotary Archive Widget*/
li.rotary-adv-archive-year {
	margin-bottom:2px;
	a.icon {
	background:url(../images/archive-bg.jpg) 0 -2px;
	color:$body-text-color;
	display:block;
	font-family:$button-font;
	font-size:20px;
	font-weight:normal;
    height:32px;
	line-height: 32px;
	text-indent:10px;
	text-decoration: none;
	width:173px;
	&:active, &:hover {
		background-position: 0 -35px;
		text-decoration: none;
	}
		span {
			display: none;
		}
	}

	a.less {
		background-position: 0 -35px;
	}
	ul {
		display: none;
	}
	.monthlist {
		li {
			font-size: 90%;
			margin-bottom:10px;
			a{
				color:$body-text-color;
				display:block;
				font-family:$body-font-family;
				font-size:12px;
				font-weight:normal;
				height:27px;
				line-height:27px;
				margin-left:-10px;
				padding:1px;
				text-decoration:none;
				text-indent:10px;
				width:173px;
				&:active, &:hover, &.current {
					background:#f9efd9;
					border: 1px solid #e0d6bf;
					padding:0;
					text-decoration:none;
				}
			}
		}

	}
}
	
li.widget_rotaryarchivewidget li {
	font-size: 12px;
}
.widgetedit {
	@include backgrounds-sprite("edit");
	@include hide-text;
	display:none;
	height:34px;
	position:absolute;
	left:80%;
	top:5px;
	width:34px;
	z-index:500;
	
}
/*End Rotary Archive Widget*/
aside {
	color:$aside-text-color;
	float:left;
	margin-bottom:30px;
	margin-right:10px;
	margin-top:35px;
	width:208px;
	.textwidget ul li {
		list-style:inside disc;
	}
	.textwidget ol li {
		list-style:inside decimal;
	}
	.widget_sp_image img {
		margin-top:5px;
	}
}
.single #secondary  {
	margin-top:50px;
}
#home-sidebar {
	width:230px;
}
#content #secondary li {
	list-style: none;
}
#speaker-sidebar {
	color:#606060;
	margin:100px 0 20px 20px;
	padding-bottom:54px;
	width:271px;
	.speaker-sidebar-thumbnail-container img {
		display: block;
		height:auto;
		margin: 0 auto;
		max-width: 100%;
	}
	.speaker-side-container {
	 border-top:1px solid #e9dfc8;
	 border-left:1px solid #e9dfc8;
	 border-right:1px solid #e9dfc8;
		@include background-image(linear-gradient(rgba(249, 245, 235, 0.5), #f6ecd5));
		li {
			line-height:18px;
			min-height:10px;
		}
	}
	.speakerbio {
		background:url(../images/bio-icon-bg.png) 0 10px no-repeat;
		text-indent:30px;
	}
	p  {
		margin-bottom:5px;
	}
	a {
		margin-left:5px;
	}
	.fancybox {
		margin-left:0;
	}
	h3{
		color:$header-font-color;
		font-family:$button-font;
		font-size:20px;
		margin: 0 0 2px 5px;
		padding-top:15px;
		text-indent:10px;
		text-transform:uppercase;
	}
	.tagcloud a, .cat-item a {
    	color: #a5a5a5;
    	font-weight:normal;
    	line-height:18px;
	}
	> ul > li ul,  > ul > li div {
		margin: 10px 10px 0;
	}
	.speaker-side-top {
		background: url(../images/audio-6-icon.png) no-repeat;
		height:58px;
		position:relative;
		top:-10px;
		left:-10px;
	}
	.speaker-side-bottom {
		background: url(../images/speaker-container-bottom-bg.png)  -1px 0 no-repeat;
		height:41px;
		margin-top:0;
	}
	.speakerthumbs img {
		height:105px;
		margin:0 5px 5px 0;
		width:105px;
	}
	.speakerthumbs {
		margin-left:5px;
	}
}
.no-cssgradients #speaker-sidebar .speaker-side-container{
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f9f4e9', endColorstr='#f6ecd5'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f9f4e9', endColorstr='#f6ecd5')"; /* IE8 */  
}

#secondary {
	margin-top:15px;
	 > ul > li {
		@include background-image(linear-gradient(rgba(226, 230, 231, 0.5), #fff));
		border: 1px solid #EFEFEF;
		margin:10px 0 30px 0;
		padding-bottom:10px;
		position:relative;
		ul, div {
			margin:10px 10px 0 10px;
		}
		#calendar_wrap {
			background:#fff;
			margin:0;
		}
	}
 	> ul .newpost {
		background:none;
		border:none;
		padding-bottom:0;
		a {
			font-size:14px;
			letter-spacing:.02px;
		}
		a:active, a:hover {
			text-decoration:none;
		}
	}
	h3 {
		border-top:5px solid #b8b7b8;
		color:$header-font-color;
		font-size:19px;
		margin-bottom:2px;
		margin-top:0;
		padding-top:15px;
		text-indent:10px;
		text-transform:uppercase;
	}
	.tagcloud a{
		color:$body-text-color;
	}
	.widget_calendar {
		background:transparent;
		border:none;
		h3 {
			display:none;
		}
	}

.blogroll li a:before {
	content:"> ";
}

	#wp-calendar {
		margin:10px 0 50px 0;
		background:#fff;
		width:100%;
		caption {
			background: url("../images/calendarheader.png") no-repeat scroll 0 0 transparent;
			color: #FFFFFF;
			height: 51px;
			line-height:51px;
			text-align:center;
		}
		thead {
			border-left:1px solid #EFEFEF;
		border-right:1px solid #EFEFEF;
		}
		tr{
			margin-left:5px;
		}
		td, th {
			padding:2px;
			text-align:center;
		}
		td {
			border:1px solid #EFEFEF;	
		}
		tfoot {
			td {
				border-top:3px solid #EFEFEF;
				border-bottom:none;
				border-left:none;
				border-right:none;
			}
			#prev {
				text-align:left;
			}
			#next {
				text-align:right;
			}
		}
	    tbody a {
			font-weight:bold;
		}
		#today {
			background:#F2A91D;
		}
	}
}
.no-cssgradients #secondary > ul > li {
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7fe2e6e7', endColorstr='#ffffff'); /* IE6 & IE7 */
-ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7fe2e6e7', endColorstr='#ffffff'); /* IE8 */  
}
.no-cssgradients #secondary > ul > #calendar_wrap {
	filter:none;
}
.no-cssgradients #secondary > ul .newpost {
	filter:none;
}
/*hide calendar on speaker archive*/
.tax-rotary_speaker_cat .widget_calendar,
.post-type-archive-rotary_speakers .widget_calendar,
.tax-rotary_speaker_tag .widget_calendar {
	display:none;
}
#committee-sidebar, #projects-sidebar {
	margin-right:22px;
	margin-top:69px;
	border-bottom: 1px solid #b5b5b5;
	border-left: 1px solid #b5b5b5;
	border-right: 1px solid #b5b5b5;
	border-top: 6px solid #b5b5b5;
	line-height:22px;
	width:204px;
	> ul {
	    @include box-shadow(rgba(0, 0, 0, 0.25) 0 0 7px inset);
		padding:20px 10px 0 10px;
	}
	ul ul {
		color:#a2a2a2;
		padding-bottom:25px
	}
	h3 {
		margin-top:0;
		padding-top:5px;
	}
	a[href^="mailto"] {
		color:#a2a2a2;
		font-weight:normal;
	}
	.avatarcontainer {
		border-bottom: 2px solid #B5B5B5;
		margin-bottom:15px;
		padding:15px 0px 15px 0;
		img {
			height:auto;
			width:180px;
		}
	}
	.committeemembers {
		border-top: 2px solid #B5B5B5;
		padding-top:20px;
		h3{
			font-family: $button-font;
			color: #177083;
			font-size: 20px	;
			padding-bottom:10px;
			text-transform: uppercase;
		}
		li {
			border-top: 1px solid #b5b5b5;
			color: #0F7285;
			padding:10px 0 10px 0;
			&:last-child {
				border-bottom: 1px solid #B5B5B5;
			}
			.avatar {
				vertical-align: middle;
			}
			
		}

		
	}
	.project-date {
		border-bottom: 1px solid #B5B5B5;
		padding-bottom: 10px;
		text-align:center;
		.dayweek {
			font-family:$button-font;
			font-size:27px;
		}
		.day, .month, .year {
			font-family: $sub-header-font;
			font-size:18px;
		}
	}
	.acf-map {
		width: 100%;
		height: 220px;
		margin: 20px 0;
	}
	.location {
		text-align:center;
		.meetingsite {
			color:#0f7284;
			font-family: $header-font;
			font-size:13px;
			text-transform: uppercase
		}
	}
	.instructions {
		font-size:11px;
	}
	.speakerthumbs img {
		height:85px;
		margin:0 5px 5px 0;
		width:85px;
	}
		
}
.single-rotary_projects #projects-sidebar {
	margin: 85px 12px 30px 10px;
	h3 {
		color:#177086;
		font-size:20px;
		text-transform: uppercase;
	}
	.tagcloud a, .cat-item a {
		color: #a5a5a5;
		font-weight: normal;
		line-height: 18px;
	}
		
}
#committeewidget{
	margin:0 10px 0 10px;
	width:90%;
}