@CHARSET "UTF-8";

/******************************************************
*  SPEAKER PROGRAM
******************************************************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

	a {
		text-decoration: none;
		color: #17458F;
		font-weight:700;
	}
	#branding h1 {
	    float: left;
	    font-family: Arial Narrow,Arial,Helvetica,sans-serif;
	    font-weight: 700;
	    line-height: 1em;
	    font-size: 30px;
	    height: 125px;
	    background-size: 300px;
	}
	#branding h1 span {
	    display: block;
	    margin-left:315px;
	}
	#branding h1 .clubname.namebefore, 
	#branding h1 a.clubname.namebefore {
	    padding-top: 28px;
	}
	
	table#container-table {
		width:800px;
		margin:0px auto;
	}


	table {
		font-family: Georgia, Times New Roman, Serif;
		color: #58585A;
		font-size: 16px;
		line-height:25px;
		border-spacing: 0;
	}
	table td {
		cursor: auto;
		vertical-align:top;
	}
	table td p {
		margin-top:10px;
	}
	.firstcol {width:500px;}
	.secondcol {width:60px; height:60px;}
	.thirdcol {width:240px;}
	.single table #speakerheader {border:none}
	
	table .greyborder-right {border-right: solid 2px #ececec;padding-right:10px;}
	table .greyborder-left {border-left: solid 2px #ececec;padding-left:25px;}
	table .greyborder-top {border-top: solid 2px #ececec;}
	table .greyborder-bottom {border-bottom: solid 2px #ececec;}
	table .goldborder-bottom {border-bottom: solid 1px #F2A700;}
	.speaker-term-label {font-weight:bold;}
	table #blogheader h1 {
	    color: #17458f;
    	font-family: Open Sans Condensed, Arial Narrow, Arial, Helvetica, sans-serif;
    	font-size: 32px;
    	line-height:34px;
    	font-weight: normal;
		text-transform: uppercase;
	    margin-bottom: 4px;
	    margin-top: 24px;
	    padding: 0;
	}
	table #speakertitle h2{
   		background-size: 25px;
	    color: #58585A;
	    font-family: Open Sans Condensed, Arial, Helvetica, sans-serif;
	    font-size: 21px;
	    font-weight: bold;
	    margin-bottom: 0;
	    margin-top: 0px;
	    padding-left: 30px;   
	    padding-bottom: 3px;    
	    line-height: 23px;
    	margin-left: 20px;
    	text-transform: uppercase;
	}
	table #speaker-info-container {
		margin-left:20px;
		font-size:16px;
		margin-top:0px;
	}
	table #speakerdate {
	    color: #17458f;
	    font-family: Open Sans Condensed, Arial, Helvetica, sans-serif;
	    font-size: 19px;
	    font-weight: bold;
	    text-transform: uppercase;
	    padding-top: 20px;
	    padding-right: 15px;
	    text-align:right;
	}
	table #speakerdate span {
    	color: #58585A;
	}
	
	#blogcontent h2,
	 h2.blogcontent {
	    color: #17458f;
	    font-family: Open Sans Condensed, Arial, Helvetica, sans-serif;
	    font-weight: 700;
	    margin-bottom: 12px;
	    margin-top: 22px;
	    padding: 0;
	    font-size: 28px;
	}
	
	#blogcontent h3 {
	    color: #58585A;
		font-family: Open Sans Condensed, Arial, Helvetica, sans-serif;
	    font-weight: 700;
	    margin-bottom: 4px;
	    margin-top: 24px;
	    padding: 0;
	    text-transform: uppercase;
		font-size: 22px;
	}
	
	#blogcontent  img.alignleft {
	    display: inline;
	    float: left;
	    margin-right: 12px;
	    margin-top: 4px;
	}
	#blogcontent img.alignright {
		display: inline;
	    float: right;
	    margin-left: 12px;
	    margin-top: 4px;
	}
	#blogcontent .aligncenter {
    display: block;
    margin: 0 auto;
}
	.wp-caption {
	    border-left: 1px solid #f93;
	    background-color: #FFF;
	    line-height: 18px;
	    margin-bottom: 20px;
	    max-width: 632px!important;
	    padding: 0;
	    text-align: center;
	}
	#blogcontent .wp-caption .inner-caption {
	    border-right: 1px solid #f93;
	    border-top: 1px solid #f93;
	    padding: 4px;
	    width: 100%;
	}
	#blogcontent .wp-caption .wp-caption-bottom {
	     height: 26px;
	    padding-left: 9px;
	    width: 100%;
	}
	
	
	table #speaker-side-container {
	    background-color: #f8f1e3;
	    padding: 10px 10px 25px 10px;
	}
	table #speaker-side-container {
    background-size: 23px 22px;
    background-repeat:no-repeat;
    background-position: right bottom;
}
	
	
	table #speaker-side-container h3 {
	    color: #17458f;
	    font-family: Open Sans Condensed, Arial, Helvetica, sans-serif;
	    font-size: 20px;
	    margin-bottom: 2px;
	    text-transform: uppercase;
    	font-weight: 700;
	}
	h3.speakerbio {
		background-size: 20px;
		padding-left:25px;
	    padding-top: 2px;
	}
	
	table #speakerinfo ul { list-style-type: none;}
	
	table .cutaway_image {
		 background-repeat: no-repeat;
		 background-size:cover;
	}
	
/******************************************************
*  ANNOUNCEMENTS
******************************************************/
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
}

table#branding {
	width:800px;
	margin:0px auto;
}
table.announcement-table {
	margin-bottom:50px;
	width: 100%;
}

td.announcements-container {
    width: 400px;
    padding:10px;
}

table#branding h2 {
	color: #17458f;
    font-family: open sans condensed;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    border-bottom: 3px solid #00008B;
}


table .header-text-container h1 {
    font-size: 34px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #17458f;
    padding: 0;
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

table .header-text-container h5 {
    margin-top: 4px;
    font-size: 17px;
    font-family: "Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
}
table .header-text-container h5 a {
	text-decoration:none;
}

.announcement-buttons,
.calltoactioncontainer {
    border-top: 3px solid #e5e5e5;
    border-bottom: 3px solid #e5e5e5;
    padding-top:12px;
    padding-bottom:12px;
}
.header-text-container span,
p.announced-by {
    font-family: "Open Sans Condensed",Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin-top: 3px;
    color: #58585A;
    font-weight:700;
}


table span.project-type {
    text-transform: uppercase;
    display: inline-block;
    margin-top: 3px;
}
table span.organizing-committee {
}
td.header-thumbnail-container {
    width: 175px;
}
.rotarybutton-smallwhite,
.rotarybutton-smallblue,
.rotarybutton-smallgold {
    display: inline-block;
    font-family: "Open sans condensed","Arial Narrow",sans-serif;
    font-weight: 700;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
    letter-spacing: .25px;
    margin: 2px 10px;
    padding: 4px 9px;
}

.rotarybutton-smallwhite {
    background-color: #fff;
    border: 1px solid #005daa;
    color: #005daa;
}
.rotarybutton-smallblue {
    background-color: #005daa;
    border: 1px solid #005daa;
    color: #fff;
}
.rotarybutton-smallgold {
    background-color: #F7A81B;
    border: 1px solid #F7A81B;
    color: #005daa;
}
.announcement-body {
    padding-bottom: 20px;
    padding-top: 8px;
}
.announcement-date {
    font-size: 17px;
    white-space: nowrap;
    margin: 0;
    color: #58585A;
    padding: 10px;
    font-family: "Open Sans Condensed",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

.announcement-expiry-date, .calltoactioncontainer  {
	text-align: right;
}
.announcement-date-table {
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    width: 100%;
}

td.speaker-announcements-container .announcement-date-row td {
	height: 100px;
}

p.announced-by {
	margin:0;
    display: inline;
}
.inline {
    display: inline;
}
